{% extends "layout.html" %}
{% block static %}

{% endblock %}
{% block title %}
URL Check
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Bucket List App</h1>
    <form class="form-url-check">
    <label for="inputUrl" class="sr-only">URL</label>
    <input type="name" name="inputUrl" id="inputUrl" class="form-control" placeholder="URL" required autofocus>
     
    <button id="btnUrlCheck" class="btn btn-lg btn-primary btn-block" type="button">Check</button>
  </form>
  </div>
{% endblock %}

